/resources/public/css/up_dashboard_style.min.css
/resources/public/js/compiled/**
/resources/public/js/**
/resources/public/version.txt
/resources/version.js
src/up/about.cljc
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.repl
.nrepl-port
temp-lein*
*.sublime-workspace
