/* cecil CSS */
code {
  display: block;
  white-space: pre-wrap
}


body{
    padding: 1em;
}

body::after {
    content: "";
    background-image: url(https://jeremyrsellars.github.io/cecil/img/lion-pixels.png);
    background-size: cover;
    background-position-y: 45%;
    background-position-x: 75%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    height: 200%;
}


@media (min-width: 1200px) {
    .tile {
        display: inline-block;
        max-width: calc(50% - 4em);
        vertical-align: top;
    };
}

textarea
{
    background-color: transparent;
}

#main-app-area > *
{
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.5);
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.calculated .CodeMirror {
    background-color: rgb(228,228,228);
}

.cm-plsql-comment {
    color: gray;
}

#com-rigsomelight-devcards-main {
    background-color: white
}
